<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02c71d156f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/general.css">
    <title>Mercado Libre</title>
</head>
<body>  
  <header class="home_background">
       <section >
           <img class="home_img" src="/img/images/logo-mercado-liebre.svg" alt="imagen de Mercado Libre"> 
         <article>
              <form action="">
                 <input class="home_input" type="text" placeholder="Buscar" id="search">
                 <i class="fa-solid fa-magnifying-glass"></i>
              </form>
              
               <h2 class="home_h2"><span> <i class="fa-solid fa-hand-holding-dollar"></i></span>Comprá en cuotas y sin tarjeta de crédito</h2>
          </article>
          <article>
              <nav class="home_nav">
                 <ul>
                     <li><a href="/ofertas">Ofertas</a></li>
                     <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                     <li><a href="/vender">vender</a></li>
                     <li><a href="/ayuda">ayuda</a></li>
                 </ul>
                   <ul>
                     <li><a href="/crea-tu-cuenta">Crea tu cuenta<span><i class="fa-regular fa-id-card"></i></span></a></li>
                     <li><a href="/ingresar">Ingresar<span><i class="fa-solid fa-right-to-bracket"></i></span></a></li>
                     <li><a href="/Mi-compra">Mi compra<span><i class="fa-solid fa-basket-shopping"></i></span> </a></li>
                   </ul>
             </nav>
         </article>
         <button class="burger-menu">
            <i class="fas fa-bars"></i></button>
        
     </section>
  </header>
    <img src="/img/images/img-home-banner.jpg" alt="imagen" width="100%">
    <section>
        <article>
            <h3>Basado en tu última visita</h3>
            <img src="/img/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" width="100%">
            <h4>$6.770<br>40% OFF<br> Cafetera Moulinex</h4>
            <img src="/img/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="100%">
            <h4>$230.000<br>20% off<br>MacBook Pro 2019</h4>
            <img src="/img/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="100%">
            <h4>$70.500<br>10% off<br> Samsung Galaxy S10</h4>
            <img src="/img/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="100%">
            <h4>$23.200<br>5% OFF<br> SmartTv Samsung 43"</h4>
        </article>
        <article>
            <h3>Sección de Ofertas</h3>
            <img src="/img/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" width="100%">
            <h4>$6.770<br>40% OFF<br> Cafetera Moulinex</h4>
            <img src="/img/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="100%">
            <h4>$230.000<br>20% off<br>MacBook Pro 2019</h4>
            <img src="/img/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="100%">
            <h4>$70.500<br>10% off<br> Samsung Galaxy S10</h4>
            <img src="/img/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="100%">
            <h4>$23.200<br>5% OFF<br> SmartTv Samsung 43"</h4>
        </article>
    </section>
</body>
    <footer>
        <section>
            <article>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
     </section>
    </footer>

</html>