<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02c71d156f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/general.css">
    <title>Mercado Libre</title>
</head>

<body>
    <header class="home_background ">
        <section >
              <article class="header_top_principal" >
                  <div  class="header_top_principal">
                        <img class="home_img" src="/img/images/logo-mercado-liebre.svg" alt="imagen de Mercado Libre">
                        <form class="buscador"  action="">
                                <input class="home_input" type="text" placeholder="Buscar" id="search">
                                <i class="fa-solid fa-magnifying-glass lupa" ></i>
                        </form>
                    </div>
                  <h3 class="home_h3"><span> <i class="fa-solid fa-hand-holding-dollar"></i></span>Comprá en cuotas y sin
                    tarjeta de crédito</h3>
                </article>
            <article>
                <a href="#" class="hamburger_button">
                    <i class="fas fa-bars hamburger_button"></i>
                </a>
                <nav class="home_nav ">
                    <ul>
                        <li><a href="/ofertas">Ofertas</a></li>
                        <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                        <li><a href="/vender">vender</a></li>
                        <li><a href="/ayuda">ayuda</a></li>
                    </ul>
                    <ul class="home_nav_2">
                        <li><a href="/crea-tu-cuenta">Crea tu cuenta<span><i
                                        class="fa-regular fa-id-card"></i></span></a></li>
                        <li><a href="/ingresar">Ingresar<span><i class="fa-solid fa-right-to-bracket"></i></span></a>
                        </li>
                        <li><a href="/Mi-compra">Mi compra<span><i class="fa-solid fa-basket-shopping"></i></span> </a>
                        </li>
                    </ul>
                </nav>
            </article>
        </section>
    </header>
    <main >
        <img src="/img/images/img-home-banner.jpg" alt="imagen">
        <section>
            <h2>Basado en tu última visita</h2>
            <article class="center_h border">
                <img src="/img/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" width="100%">
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <h4>$6.770</h4>
                    <h5 class="h5_name_green">40% OFF</h5>
                    <h5 class="h5_name">Cafetera Moulinex</h5> 
                </div>
            </article>
            <article class="center_h">
                <img src="/img/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="100%">
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <h4>$230.000</h4>
                   <h5 class="h5_name_green">20% off</h5>
                   <h5 class="h5_name">MacBook Pro 2019</h5>
                </div>    
            </article>
            <article class="center_h">
                <img src="/img/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="100%">
                <div class="caja">
                  <i class="fa-solid fa-truck"></i>
                  <h4>$70.500</h4>
                  <h5 class="h5_name_green">10% off</h5>
                  <h5 class="h5_name">Samsung Galaxy S10</h5>
                </div>  
            </article>
            <article class="center_h">
                <img src="/img/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="100%">
               <div class="caja">
                  <i class="fa-solid fa-truck"></i>
                  <h4>$23.200</h4>
                  <h5 class="h5_name_green">5% OFF</h5>
                  <h5 class="h5_name">SmartTv Samsung 43"</h5>
              </div>
            </article>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article class="center_h">
                <img src="/img/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" width="100%">
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <h4>$6.770</h4>
                    <h5 class="h5_name_green">40% OFF</h5>
                    <h5 class="h5_name">Cafetera Moulinex</h5>  
               </div>
           </article>
            <article class="center_h">
                <img src="/img/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="100%">
                <div class="caja"> 
                    <i class="fa-solid fa-truck"></i>
                    <h4>$230.000</h4>
                    <h5 class="h5_name_green">20% off</h5>
                    <h5 class="h5_name">MacBook Pro 2019</h5>
                </div>
            </article>
            <article class="center_h">
                <img src="/img/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="100%">
                <div class="caja">
                    <i class="fa-solid fa-truck"></i>
                    <h4>$70.500</h4>
                    <h5 class="h5_name_green">10% off</h5>
                    <h5 class="h5_name">Samsung Galaxy S10</h5>
                </div>
            </article>
            <article class="center_h">
                <img src="/img/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="100%">
               <div class="caja">
                     <i class="fa-solid fa-truck"></i>
                    <h4>$23.200</h4>
                    <h5 class="h5_name_green">5% OFF</h5>
                    <h5 class="h5_name">SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
    </main>    
<footer>
    <section>
        <article>
            <span><i class="fa-solid fa-credit-card"></i></span>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
                puntos de <br> pago. ¡Y siempre es seguro! </p>
            <span><i class="fa-solid fa-gift"></i></span>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Libre <br> tenés envíos gratis en miles de
                productos. Es <br> un beneficio de Mercado Puntos.</p>
            <span><i class="fa-solid fa-user-shield"></i></span>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Libre <br> no hay nada que no puedas hacer,
                porque <br> estás siempre protegid@.</p>

            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </article>
    </section>
</footer>
</body>
</html>