<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02c71d156f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Mercado Libre</title>
</head>

<body>
    <header class="home_background ">
        <section>
            <article>
                <div class="header_top_principal">
                    <div class="header_mobile">
                        <img class="home_img" src="/img/images/logo-mercado-liebre.svg" alt="imagen de Mercado Libre">
                        <form class="buscador" action="">
                            <input class="home_input" type="text" placeholder="Buscar" id="search"><i
                                class="fa-solid fa-magnifying-glass lupa"></i>
                        </form>
                    </div>
                    <h3 class="home_h3"><span> <i class="fa-solid fa-hand-holding-dollar"></i></span>Comprá en cuotas y
                        sin
                        tarjeta de crédito
                    </h3>
                </div>
            </article>
            <article class="padding">
                <a href="#" class="hamburger_button ">
                    <i class="fas fa-bars hamburger_button"></i>
                </a>
                <nav class="home_nav ">
                    <ul>
                        <li><a href="/ofertas">Ofertas</a></li>
                        <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                        <li><a href="/vender">vender</a></li>
                        <li><a href="/ayuda">ayuda</a></li>
                    </ul>
                    <ul class="home_nav_2">
                        <li><a href="/registro">Crea tu cuenta<span><i class="fa-regular fa-id-card"></i></span></a>
                        </li>
                        <li><a href="/ingresar">Ingresar<span><i class="fa-solid fa-right-to-bracket"></i></span></a>
                        </li>
                        <li><a href="/Mi-compra">Mi compra<span><i class="fa-solid fa-basket-shopping"></i></span> </a>
                        </li>
                    </ul>
                </nav>
            </article>
        </section>
    </header>
    <main>
        <form action="/ingresar" method="post" class="ingreso_de_usuario_formulario">
            <div>
                <label>Nombre de usuari@:</label>
                <input type="text" name="usuario" placeholder="Nombre de usuari@" required>
            </div>
            <div>
                <label class="input">Contraseña:</label>
                <input type="password" name="contraseña" placeholder="Elegi tu contraseña" required>
            </div>
            <div>
                <a href="http://localhost:3300"> <button type="submit" class="boton_formulario">Enviar</button></a>
            </div>
        </form>
    </main>
    <footer>
        <section>
            <article>
                <div class="div_caja_1 efecto">
                    <span><i class="fa-solid fa-credit-card footer_icons"></i></span>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro! </p>
                </div>
                <div class="div_caja_2 efecto">
                    <span><i class="fa-solid fa-gift footer_icons"></i></span>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Libre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>  
                <div class="div_caja_3 efecto">       
                    <span><i class="fa-solid fa-user-shield footer_icons"></i></span>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Libre no hay nada que no puedas hacer,
                    porque  estás siempre protegid@.</p>
                </div>
                
            </article>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>

</html>