<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02c71d156f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Crea tu Cuenta</title>
</head>

<body>
    <header class="home_background ">
        <section>
            <article>
                <div class="header_top_principal">
                    <div class="header_mobile">
                        <img class="home_img" src="/img/images/logo-mercado-liebre.svg" alt="imagen de Mercado Libre">
                        <form class="buscador" action="">
                            <input class="home_input" type="text" placeholder="Buscar" id="search">
                            <i class="fa-solid fa-magnifying-glass lupa"></i>
                        </form>
                    </div>
                    <h3 class="home_h3"><span> <i class="fa-solid fa-hand-holding-dollar"></i></span>Comprá en cuotas y
                        sin
                        tarjeta de crédito
                    </h3>
                </div>
            </article>
            <article class="padding">
                <a href="#" class="hamburger_button ">
                    <i class="fas fa-bars hamburger_button"></i>
                </a>
                <nav class="home_nav ">
                    <ul>
                        <li><a href="/ofertas">Ofertas</a></li>
                        <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                        <li><a href="/vender">vender</a></li>
                        <li><a href="/ayuda">ayuda</a></li>
                    </ul>
                    <ul class="home_nav_2">
                        <li><a href="/registro">Crea tu cuenta<span><i class="fa-regular fa-id-card"></i></span></a>
                        </li>
                        <li><a href="/ingresar">Ingresar<span><i class="fa-solid fa-right-to-bracket"></i></span></a>
                        </li>
                        <li><a href="/Mi-compra">Mi compra<span><i class="fa-solid fa-basket-shopping"></i></span> </a>
                        </li>
                    </ul>
                </nav>
            </article>
        </section>
    </header>
    <main>
        <form action="/registro" method="post" class="login_formulario">
            <div>
                <label class="titulares">Nombre y apellido:</label>
                <input class="input" type="text" name="nombre y appellido" placeholder="Nombre y apellido" required>
            </div>
            <div>
                <label class="titulares">Nombre de usuari@:</label>
                <input class="input" type="text" name="usuario" placeholder="Nombre de usuari@" required>
            </div>
            <div>
                <label class="titulares">Email:</label>
                <input class="input" type="email" name="Email" placeholder="E-mail" required>
            </div>
            <div>
                <label class="titulares">Fecha de nacimiento:</label>
                <input class="input" type="date" name="Fecha" value="mm-dd-yyyy" min="1970-01-01" max="2007-01-01">
            </div>
            <div>
                <label class="titulares">Domicilio:</label>
                <input class="input" type="text" name="Domicilio" placeholder="Domicilio">
            </div>
            <section>
                <label class="titulares">Perfil del usuario:</label>
                <article class="usuario">
                    <label class="comprador">Comprador</label> <input type="radio" name="perfil" value="comprador">
                    <label class="vendedor">Vendedor</label><input type="radio" name="perfil" value="vendedor">
                </article>
            </section>
            <section>
                <label class="titulares">Intereses:</label>
                <article class="intereses">
                    <div class="invertir">
                        <input type="checkbox" name="intereses" value="Electro">
                        <label>Electro</label>
                    </div>
                    <div class="invertir">
                        <input type="checkbox" name="intereses" value="Moda">
                        <label>Moda</label>
                    </div>
                    <div class="invertir">
                        <input type="checkbox" name="intereses" value="Hogar">
                        <label>Hogar</label>
                    </div>
                    <div class="invertir">
                        <input type="checkbox" name="intereses" value="Juguetería">
                        <label>Juguetería</label>
                    </div>
                    <div class="invertir">
                        <input type="checkbox" name="intereses" value="Vida sana">
                        <label>Vida sana</label>
                    </div>
                </article>
            </section>
            <div>
                <label class="titulares">Foto de usuario:</label>
                <input class="foto" type="file" name="avatar" accept=".jpg" multiple>
            </div>
            <div>
                <label class="titulares">Contraseña:</label>
                <input class="input" type="password" name="clave" placeholder="contraseña">
            </div>
            <div>
                <label class="titulares">Confirmar contraseña:</label>
                <input class="input" type="password" name="confirmar clave" placeholder=" confirmar contraseña">
            </div>
            <div>
                <button type="submit" class="boton_formulario">Guardar</button>
            </div>
            <div>
                <button type="reset" class="boton_formulario">Borrar</button>
            </div>
        </form>
    </main>
    <footer>
        <section>
            <article>
                <span><i class="fa-solid fa-credit-card"></i></span>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
                    puntos de <br> pago. ¡Y siempre es seguro! </p>
                <span><i class="fa-solid fa-gift"></i></span>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Libre <br> tenés envíos gratis en miles de
                    productos. Es <br> un beneficio de Mercado Puntos.</p>
                <span><i class="fa-solid fa-user-shield"></i></span>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Libre <br> no hay nada que no puedas hacer,
                    porque <br> estás siempre protegid@.</p>

                <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
        </section>
    </footer>
</body>

</html>