.home_img {
   width:60%;
   margin: 30px 0px 10px 30px;
}
.home_background {
    background: var(--color-amarillo);
    height: 100%;
    position: relative;
}
.home_input {
    width:60%;
    margin: 10px 0px 10px 30px;
}
.home_h3 {
    font-size: 20px;
    text-align: center;

}
.home_nav {
    font-size: 12px;
    margin:10px 0px ;
}
.home_nav_2{
    margin-top: 20px ;
}
footer{
    margin-top: 50px;
}
footer section article span i {
    color: var(--color-celeste);
    font-size: 2em;
    margin: 10px;
}
footer section article {
    text-align: center;
    margin: 20px 0px  ;
}
.button_color {
    background-color: var(--color-azul);
    border-radius: 10px;
    font-size: 30px;
    max-width: 10%; 
    margin: 10px;
}
.button_color_icons {
    color: #fff;
  }
  .button_div {
    margin:auto; /* 10px arriba y abajo, centrado horizontal */
    text-align: center;
}
footer article p {
    font-size: 12px;
    margin-bottom: 40px;
}
main {
    background-color: var(--color-gris-claro);
   
}
main section article {
    background-color: #fff;
    margin: 10px 10px;
}
footer {
   border: 10px var(--color-gris-claro) solid;
}
main img {
    width:100%;
    border: 1px var(--color-gris-oscuro) solid;
}
main h2 {
    font-size: 24px;
    color: var(--color-gris-oscuro);
    text-align: center;
}
body {
    border: 1px var(--color-gris-claro) solid;
}
main h4 {
    font-size: 18px;
    color: black;
    margin: 5px;
}
.h5_name_green{
    font-size: 16px;
    color: var(--color-Verde);
    margin: 5px;
}
.h5_name {
    font-size: 16px;
    color: black;
    margin: 5px;
}
.center_h {
    text-align: center;
}