.ingreso_de_usuario_formulario {
    background-color: var(--color-gris-claro);
    padding: 10px 70px;
}
.boton_formulario {
    background-color: var(--color-celeste);
    color: #ffffff;
    width: 100%;
    font-size: 100%;
    text-align: center;
    transition: background-color 450ms; 

.boton_formulario:hover {
    background-color: #0022AA; /* Cambia el color de fondo */
}
form div label {
    display: none;
}
form div input {
    margin-bottom: 30px ;
    padding: 5px;
}
form div input {
    width: 100%;
    height: 25px;
    font-size: 75%;
}
@media  (min-width: 768px){
    form div input {
        width: 100%;
        height: 38px;
        font-size: 100%;
    }
    .boton_formulario {
        background-color: var(--color-celeste);
        color: #ffffff;
        width: 100%;
        height: 38px;
        font-size: 100%;
        text-align: center;
    }
}
